body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* custom styles here */
body, html, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

.info.legend {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}
